.place-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title link"
    "img text";
  row-gap: 48px;
  column-gap: 40px;
}

.place-item:not(:last-child) {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .place-item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "link"
      "img"
      "text";
  }
}
